# Git 换行与文件类型规则
* text=auto eol=lf

*.java text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.pdf binary
